@(subs: Set[grgzmy.appdirect.models.Subscription])
<!DOCTYPE html>

<html lang="en">
<head>
    <title>AppDirect Integration</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body class="col-lg-10 col-lg-offset-1">
        <span class="top-filler">
        <table class="table table-stripe table-hover">
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>Marketplace</th>
                    <th>Creator</th>
                    <th>Company</th>
                    <th>Status</th>
                    <th>Edition</th>
                    <th>Number of Users</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
            @for(sub <- subs){
                <tr>
                    <td>@sub.accountId</td>
                    <td>@sub.marketPlace.getOrElse("--")</td>
                    <td>@sub.creator.getOrElse("--")</td>
                    <td>@sub.edition.map(_.toString).getOrElse("--")</td>
                    <td>@sub.company.getOrElse("--")</td>
                    <td>@sub.status.getOrElse("--")</td>
                    <td>@sub.users</td>
                    <td>@sub.megabytes MB</td>
                </tr>
            }
            </tbody>      
        </table>
    </body>
</html>